.main__banner {
  width: 400px;
  height: 500px;
  border-top: 6px solid #013364;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #dbebf9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family: Work Sans;
  font-style: normal;
  position: absolute;
  left: 10%;
  padding: 3em 0;
}

.main__banner h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
}

.main__banner h2 {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.3;
}

.main__banner h2,
p.small {
  color: #776868;
}

.summary__upper {
  height: 25%;
  width: 80%;
}

.summary__lower {
  height: 50%;
  width: 80%;
}

.summary__middle {
  width: 110%;
  background: #013364;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.75);
  font-family: Work Sans;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #f3f3f3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.summary__links {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.links {
  font-size: 18px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #0073fa;
}
